* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
header {
  padding: 3rem;
  background-color: #203466;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 25rem;
  padding-right: 4.5rem;
  h1 {
    position: relative;
    left: 1rem;
  }
}
ul {
  list-style: none;
}
.poke-nav {
  text-decoration: none;
  background-color: #3266ac;
  color: #f2c406;
  border-radius: 1rem;
  padding: 1rem;
  &:hover {
    background-color: #f2c406;
    color: #3266ac;
  }
}
nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
  }
}
footer {
  color: #f2c406;
  background-color: #203466;
  border-radius: 1rem;
  padding: 1rem;
  margin-inline: 25rem;
  position: relative;
  top: 55rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-inline: 5rem;
  top: 22rem;
  font-weight: bold;
  box-shadow: 3rem;
}
body {
  background-image: url('../background.png');
}
.pokebox {
  border: 2px solid #f2c406;
  background-color: #203466;
  border-radius: 1rem;
  a {
    text-decoration: none;
    padding: 4rem;
    color: #f2c406;
  }
  &:hover {
    background-image: url('../battle\ background\ 1.jfif');
    border-color: #203466;
    a {
      color: #3266ac;
    }
  }
}
